.left {
	float: left
}

.right {
	float: right
}

.clear {
	clear: both
}

#playerWrapper {
	position: relative;
}

#bgmPlayer {
	position: fixed;
	bottom: 5px;
	left: 0;
	z-index: 9;
	width: 0
}

.fold {
	left: -330px
}

#foldBtn {
	width: 20px;
	height: 100%;
	cursor: pointer;
	position: absolute;
	right: -20px;
	top: 0;
	background: rgba(0,153,255,0.75);
	box-shadow: #000 -2px 0 10px;
	border-radius: 0 10px 10px 0;
	left: 480px
}

#foldBtn i {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 6px;
	background: url(sprite.png) -137px 0;
	width: 9px;
	height: 16px;
}

.fold #foldBtn i{background-position: -128px 0}

#player * {
	color: #fff
}

#player {
	width: 480px;
	height: 150px;
	background: rgba(0,0,0,0.7);
	box-shadow: #000 0 0 10px
}

#bgmPlayer .cover {
	background: #666;
	position: fixed;
	overflow: hidden;
	width: 150px;
	height: 150px;
	z-index: 10
}

#bgmPlayer .cover img {
	width: 150px;
	height: 150px
}

#bgmPlayer .cover .light {
	position: absolute;
	left: -90px;
	top: 0;
	width: 150px;
	height: 150px;
	background-image: -moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));
	background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));
	transform: skewx(-25deg);
	-o-transform: skewx(-25deg);
	-moz-transform: skewx(-25deg);
	-webkit-transform: skewx(-25deg);
	-moz-transition: 0s;
	-o-transition: 0s;
	-webkit-transition: 0s;
	transition: 0s;
}
#bgmPlayer .cover:hover .light {left: 150px;transition: 0.5s;-moz-transition: 0.5s;-webkit-transition: 0.5s;}

#player .ctrl {
	margin-left: 155px;
	line-height: 16px;
	padding: 10px;
}

#player .ctrl .tag strong,#player .ctrl .tag span {
	display: block;
	text-overflow: ellipsis
}

#player .ctrl .tag span {
	font-size: 12px;
	margin-top: 5px;
	color: #eee
}

#player .ctrl .icon {
	background-image: url(sprite.png);
	background-repeat: no-repeat;
	display: inline-block;
	opacity: .6;
	cursor: pointer;
	width: 16px;
	height: 16px;
	margin:5px;
	-moz-transition:opacity .3s;
	-webkit-transition:opacity .3s;
	transition:opacity .3s;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#player .ctrl .icon:hover,#player .ctrl .icon.enable {
	opacity: 1
}

#player .ctrl .icon:active {
	opacity: .3
}

#player .ctrl .control {
	margin-top: 10px;
	height: 25px
}

.rewind {
	background-position: 0 0;
}
.playback.active {
	background-position: -16px 0;
}
.playback {
	background-position: -32px 0;
}
.fastforward {
	background-position: -48px 0;
}
.shuffle {
	background-position: -64px 0;
}
.repeat {
	background-position: -80px 0;
}
.volume .mute.enable {
	background-position: -96px 0;
}
.volume .mute {
	background-position: -112px 0;
}

#player .ctrl .control .volume .slider {
	margin-top: 12px;
	margin-left: 7px;
	width: 100px
}

#player .ctrl .progress {
	margin-top: 10px
}

#player .ctrl .progress .timer {
	font-size: 12px;
	color: #ccc;
	margin-top: 8px
}


#player .ctrl .progress .repeat.once,#player .ctrl .progress .repeat.all {
	opacity: 1
}

#player .ctrl .progress .repeat.once {
	position: relative
}

#player .ctrl .progress .repeat.once:before {
	content: "1";
	position: absolute;
	top: -3px;
	right: -5px;
	font-size: 6px
}

#player .ctrl,.footer {
	text-shadow: 0 1px 5px #000
}

.slider {
	background: rgba(0,0,0,0.3);
	height: 5px;
	position: relative;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset
}

.slider:hover a,.slider.enable a {
	opacity: 1
}

.slider a {
	background: #fff;
	margin-left: -2.5px;
	position: absolute;
	opacity: 0;
	width: 5px;
	height: 5px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-khtml-border-radius: 50%;
	border-radius: 50%;
	-moz-transition: opacity .3s;
	-webkit-transition: opacity .3s;
	transition: opacity .3s
}

.slider .loaded,.slider .pace {
	position: absolute;
	height: 100%;
	opacity: .7;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px
}

.slider .loaded {
	background: rgba(255,255,255,0.1)
}

.slider .pace {
	background: #09F
}

#bg1,#bg2 {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -10;
	top: 0;
	left: 0;
	opacity: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center
}